.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
  border: solid 2px currentColor;
}

.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
}

.subtitle {
  font-size: var(--small-heading2);
}